body {
    background-color: #fff;
    color: #333;
    font-family: verdana, arial, helvetica, sans-serif;
    font-size: 13px;
    line-height: 18px;
    margin: 33px;
}

.btn-wrapper:hover {
  width: 30.38px;
  height: 16px;
  background-color: black;
}
.btn-square:hover {
  cursor: pointer;
  color: #FFF;
}